<div class="container container-home">
<div class="jumbotron jumbotron-home">
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="/"><%= image_tag "logo-lg.png", class: "logo" %></a>
                <p>The recruiting platform that provides opportunities for international student athletes and success on the court or field for American university sports coaches.</p>
        </div>
        <div class="col-md-12">
            <div class="video-container">
                <iframe width="100%" height="525" frameborder="0" allowfullscreen="" src="//www.youtube.com/embed/HRVq43fZpXU?rel=0"></iframe>
            </div>
        </div>
    </div>   
</div>

<!-- TABS BLOCK BEGIN -->
<div class="row">
        
        <div class="panel panel-default">
            <div class="panel-heading"><h2 class="text-center">Athletes and Parents</h2></div>
          <div class="panel-body">
            

            <h3>What we do</h3>
            <p>We offer a recruiting platform which connects international student-athletes with American university coaches and scouts. The connections on our recruiting platform may lead to more exposure, athletic scholarships, and greater future opportunities for registered student-athletes.

                <h3>What can you expect?</h3>
                <div class="row text-center">
                    <div class="col-md-4">
                    <%= image_tag "home/apple.png" %>
                    <br />
                    <p>Your own personal student-athlete profile
                    </div>
                    <div class="col-md-4">
                    <%= image_tag "home/stopwatch.png" %>
                    <br />
                    <p>Premium features including video, references, and letters of interest
                    </div>
                    <div class="col-md-4">
                    <%= image_tag "home/medal.png" %>
                    <br />
                    <p>Recruiting information and advanced scouting by our supporters at the NCSA
                    </div>
                </div>
                We cannot guarantee a student-athlete will receive an athletic scholarship. We can guarantee however, that we will work everyday to provide every student-athlete the chance to be noticed and recruited.
                <br></br>
                <div class="text-center col-md-4">
                <%= link_to 'Sign up Now', new_user_registration_path, class: "btn btn-warning btn-lg btn-block" %>
                </div>
                <p>Your path to being recruited starts here. It is free and takes less than two minutes. Reserve your profile today and show your commitment to university coaches and recruiters!
            </div>
        </div>
</div>

<div class="row">
                    
                    <div class="panel panel-default">
                        <div class="panel-heading"><h2 class="text-center">Coaches and Scouts</h2></div>
            <div class="panel-body">
                <div class="col-md-8">
                    <h3>What’s in it for you?</h3>
                    <div class="row text-center">
                    <div class="col-md-4">
                    <%= fa_icon "signal 4x" %>
                    </br />
                    <p>Reduce time and stress finding athletes, spend more time evaluating and connecting with talented recruits
                    </div>
                    <div class="col-md-4">
                    <%= fa_icon "globe 4x" %>
                    </br />
                    <p>Large and unique talent pool to recruit from
                    </div>
                    <div class="col-md-4">
                    <%= fa_icon "search 4x" %>
                    </br />
                    <p>Easily search and track talented and qualified student-athletes
                    </div>
                    
                </div>
                    <br />
                    College sports are incredibly competitive, and it all begins with recruiting. Deporte Conex offers the chance to view, evaluate, and connect with talented recruits at a click of the button. We help you reduce time and reduce stress from the typically complicated and fast-paced recruiting battle.
                    <br></br>
                    We help you uncover new talent and build impressive recruiting classes. Stop missing out on talented athletes and let us help you win the recruiting battle!
                    <br></br>
                    </div>
                    <div class="col-md-4">
                    <h3>Why international talent?</h3>

                    Consider the following:
                    <br></br>

                    In 2008 16,000 international student-athletes played at NCAA schools with 70% of them playing at Division I schools. The number of international student-athletes playing intercollegiate sports has been increasing every year!
                    <br></br>

                    Physical location is no longer a limitation. Stop missing out on incredible talent and let us help you connect with athletes all over the world!
                    <br></br>

                    <p>It’s free and takes less than 120 seconds.
                        <br />
                    <div class="text-center">
                    <%= link_to 'Sign up Now', new_user_registration_path, class: "btn btn-warning btn-lg btn-block" %>
                </div>
                </div>
                    </div></div>
                </div>
<!-- TABS BLOCK END -->
<!-- CONTACT US BLOCK BEGIN -->

    <section id="contact_us" class="box">
        <div class="center">
            <h2 class="text-center">Contact us</h2>
            <div class="contact_info" itemscope="" itemtype="http://schema.org/Organization">
                <ul>
                    <li itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                        <span class="fa fa-map-marker"></span>
                        <span itemprop="streetAddress">2001 SW 27th Ave</span>,
                        <span itemprop="postalCode">33145</span>,
                        <span itemprop="addressLocality">Miami, FL</span>
                    </li>
                    <li itemprop="email">
                         <span class="fa fa-envelope"> </span>support@deporteconex.com</li>
                    <li itemprop="telephone">
                         <span class="fa fa-phone"> </span>1(855) 983-2916</li>
                    <li>
                         <span class="fa fa-twitter"> </span>@deporteconex</li>
                </ul>
            </div>

            <div class="map" id="map-canvas" style="position: relative; background-color: rgb(229, 227, 223); overflow: hidden; -webkit-transform: translateZ(0);">
                <iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x88d9b7ae9eaeda97%3A0x676512151d8bc78b!2s2001+SW+27th+Ave%2C+Miami%2C+FL+33145%2C+USA!5e0!3m2!1sen!2sca!4v1390002389549" width="600" height="250" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
    </section>

<!-- CONTACT US BLOCK END -->
<!-- FOOTER BLOCK BEGIN -->

    <div class="footerHeight"></div>
    <footer id="footer">
        <div class="center">
            <!-- Social icons -->
            <div class="socials">
                <ul>
                    <!-- <li>
                        <a href="http://dribbble.com/" target="_blank" title="Dribbble" class="fa fa-dribbble"></a>
                    </li> -->
                    <!-- <li>
                        <a href="https://plus.google.com/" target="_blank" title="Google+" class="fa fa-google-plus"></a>
                    </li> -->
                    <li>
                        <a href="https://www.facebook.com/" target="_blank" title="Facebook" class="fa fa-facebook"></a>
                    </li>
                    <!-- <li>
                        <a href="https://twitter.com/" target="_blank" title="Twitter" class="fa fa-twitter"></a>
                    </li> -->
                </ul>
            </div>
            <div class="copyright">
                <p>© Copyright 2014 Deporte Conex.
                    <br>All Rights Reserved.</p>
            </div>
        </div>
    </footer>
</div>

<!-- FOOTER BLOCK END -->
