<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Deporte Conex" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Deporte Conex" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
        <div class="banner col-md-12">
            <h3 class="text-center">Beta access coming soon - Sign up for a chance at the first preview!</h3>
        </div>
    <main class="container" role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>

    <script type="text/javascript">
      $(function(){
        $(".player").mb_YTPlayer();
      });
    </script>
  </body>
</html>
